.row
  .small-8.columns
    = text_field_tag nil, @auth.email, :disabled => true
  .small-4.columns
    = link_to_function('Delete', 'app.do_nothing()', class: 'button small radius expand alert disabled')

- @auth.members.each do |member|
  .row
    .small-8.columns
      = text_field_tag nil, member.email, :disabled => true
    .small-4.columns
      = link_to('Delete', delete_member_users_path(member_email: member.email), method: 'post', remote: true, class: 'button small radius expand alert')
