<footer class="row">
    <section class="small-4 columns">
      <h6>A</h6>
      <p>
        Suspendisse in mi lacus. Aliquam ac placerat metus. Ut tortor ligula, vehicula in ultricies in, facilisis vel libero. Integer at quam vehicula felis cursus auctor. Quisque nunc felis, interdum vehicula mattis eget, venenatis ac velit. Nulla laoreet leo vitae dui sollicitudin ut faucibus libero iaculis. In viverra convallis elit consectetur commodo.
      </p>
    </section>

    <section class="small-4 columns">
      <h6>B</h6>
      <p>
        Suspendisse in mi lacus. Aliquam ac placerat metus. Ut tortor ligula, vehicula in ultricies in, facilisis vel libero. Integer at quam vehicula felis cursus auctor. Quisque nunc felis, interdum vehicula mattis eget, venenatis ac velit. Nulla laoreet leo vitae dui sollicitudin ut faucibus libero iaculis. In viverra convallis elit consectetur commodo.
      </p>
    </section>

    <section class="small-4 columns">
      <h6>C</h6>
      <p>
        Suspendisse in mi lacus. Aliquam ac placerat metus. Ut tortor ligula, vehicula in ultricies in, facilisis vel libero. Integer at quam vehicula felis cursus auctor. Quisque nunc felis, interdum vehicula mattis eget, venenatis ac velit. Nulla laoreet leo vitae dui sollicitudin ut faucibus libero iaculis. In viverra convallis elit consectetur commodo.
      </p>
    </section>
</footer>

<div id="about">
    <div class="row">
      <div class="small-12 columns">
        <h5>D</h5>
        <p>
          Suspendisse in mi lacus. Aliquam ac placerat metus. Ut tortor ligula, vehicula in ultricies in, facilisis vel libero. Integer at quam vehicula felis cursus auctor. Quisque nunc felis, interdum vehicula mattis eget, venenatis ac velit. Nulla laoreet leo vitae dui sollicitudin ut faucibus libero iaculis. In viverra convallis elit consectetur commodo.
        </p>
      </div>
    </div>
</div>

<div id="copyright">
  <div class="row">
    <div class="small-12 columns">
      <p>© 2013 Chyld Medford</p>
    </div>
  </div>
</div>
