<div class="fixed">
<nav class="top-bar">
  <ul class="title-area">
    <li class="name"><h1><a href="/">curricula.io</a></h1></li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><a href="/curricula">x</a></li>
      <li class="divider"></li>
      <li><a href="/curricula">y</a></li>
      <li class="divider"></li>
      <li><a href="/curricula">z</a></li>
      <li class="divider"></li>
      <%== sign_in_toggle %>
    </ul>
  </section>
</nav>
</div>
