$body-bg: #eee;
$body-font-color: #3f3f3f;
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$header-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

$topbar-bg: #3f3f3f;
$topbar-height: 60px;
$topbar-title-font-size: 2em;
$topbar-button-distance: 18px;

$body-font-weight: 300;
$header-font-weight: 300;
$subheader-font-weight: 300;
$paragraph-font-weight: 300;
$code-font-weight: 300;
$definition-list-header-weight: 300;
$microformat-fullname-font-weight: 300;
$microformat-summary-font-weight: 300;
$microformat-abbr-font-weight: 300;
$label-font-weight: 300;
$legend-font-weight: 300;
$input-error-message-font-weight: 300;
$button-font-weight: 300;
$alert-font-weight: 300;
$joyride-tip-header-weight: 300;
$joyride-tip-close-weight: 300;
$label-font-weight: 300;
$pagination-link-current-font-weight: 300;
$price-title-weight: 300;
$price-money-weight: 300;
$price-desc-weight: 300;
$price-item-weight: 300;
$reveal-close-weight: 300;
$side-nav-font-weight: 300;
$sub-nav-font-weight: 300;
$sub-nav-active-font-weight: 300;
$table-head-font-weight: 300;
$has-tip-font-weight: 300;
$tooltip-font-weight: 300;
$tooltip-close-font-weight: 300;
$topbar-title-weight: 300;
$topbar-link-weight: 300;
$topbar-menu-link-weight: 300;
$form-label-font-weight: 300;
